CFhousing.csv
HPtest.csv
HPtrain.csv
Merctest.tsv
Merctrain.csv
Merctrain.tsv
AirlinesCluster.csv
FilipinoIncome.csv
StocksCluster.csv
auto-mpg.csv
census.csv
creditcard.csv
elantra.csv
letters_ABPR.csv
loans.csv
nyc.csv
redwine.csv
statedata.csv
t1test.csv
t1train.csv
AVtest.csv
AVtrain.csv
BigMart3
Mckinsey1
Felicity
LoanPrediction
TimeSeries
Sales.csv
groceries.csv
